@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.label {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}